body {
    background: url("../images/background3.jpg");
    font-family: 'Raleway', sans-serif;
    color:rgb(160, 156, 156);
    text-align: center;
}

#result {
    font-size: 100px;
    color: magenta;
}

img {
    width: 150px;
    height: 150px;
    padding: 5px;
}

.crystalimg:hover {
    opacity: 0.2;
}